body {
  background: #f9f8fe;
}

a {
  color: #6c63ff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  margin: 30px auto;
  font-size: 40px;
  font-weight: 600;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
}
