body {
  background: #ffffff;
}

a {
  color: #5d7739;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.App {
  max-width: 750px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

.App h1 {
  font-size: 40px;
  display: inline-block;
}

.App .lemons {
  font-size: 80px;
  font-family: "Dawning of a New Day", cursive;
  font-weight: 600;
  margin: -100px 10px 0 0;
}

.App-header {
  text-align: center;
  margin: 30px 0 30px 0;
}

footer {
  text-align: center;
  margin: 20px 0 15px 0;
  font-size: 11px;
}
