.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: #fff7aa;
  box-shadow: -23px 0px rgba(57, 76, 35, 1);
  padding: 25px;
  border-radius: 25px;
  border: 5px solid #394c23;
  margin: 30px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #394c23;
}

.Dictionary .hint {
  color: #5d7739;
  font-size: 11px;
  margin-top: 13px;
}
