.Meaning h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  color: #394c23;
  opacity: 0.7;
  font-style: italic;
  margin-top: 5px;
}

.Meaning .definition {
  color: #394c23;
}
