.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #394c23;
  color: #394c23;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 25px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #394c23;
  color: white;
}

.Phonetic .text {
  opacity: 0.8;
  color: #6e7f37;
}
